*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    align-items: center;
}
.header{
    background-color: black;
    align-items: baseline;
    height: 50px;
    width: 100%;
    color: black;
}

.headertext{
    color: aquamarine;
    padding-left: 110px;
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

section{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    color: white;
    background-color: white;
    height: 200px;
}
.ToDoList{
    display: flex;
    align-items: center;
    padding-top: 25px;
    height: 50px;
    background-color: blue;
    width: 80%;
}
.ToDo{
    display: flex;
    color: black;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.searchcontent{
    display: flex;
    align-items: center;
    padding-top: 25px;
    height: 50px;
    color: white;
    width: 80%;
}
.searchbar{
    width: 70%;
    size: 300px;
    margin: 10px;
}
input{
    display:block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    padding: 10px 16px;
    border-radius: 5px;
    text-align: left;
    color: black;
    font-family: Segoe UI;
    font-size: 15px; 
}
#addbutton{
    border: none;
    background-color: blue;
    color: white;
    margin: auto;
    width: 85px;
    height: 43px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}
.tasklist{
    display: flex;
    align-items: center;
    box-sizing: content-box;
    height: 50px;
    background-color: white;
    width: 52%;
    border: 1.5px solid rgb(200, 200, 200);
    border-radius: 4px;
}
ul{
    color: blue;
    background-color: blue;
    height: 100%;
    width: 100%;
    list-style-type:none;
}
li{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    padding: auto;
    margin: 10px;
    display: 10px;
    align-content: space-between;
}
.bin{
    margin: auto;
    padding: auto;
    width: 73px;
    height: 73px;
}

.task{
    /* color: blue;
    background-color: blue;
    height: 15px;
    width: 100%;
} */


